.ingredients-list{
  list-style: square inside;
}

.directions-list {
  list-style: upper-roman inside;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

header > img { 
  width: 100px 
  margin-left: auto;
  margin-right: auto;
}

ul > li > a { t
  ext-decoration: none; 
}

body {
  background-color: #FEA244;
  margin: 35px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}