<nav class="sections-nav">

  <ul>
    <li><span>World</span>
    <li><span>San Francisco</span>
    <li><span>New York</span>
    <li><span>Bootcamp Prep</span>
    <li><span>Jumpstart</span>
    <li><span>Online</span>
    <li><span>Marketing</span>
    <li><span>Sales</span>
    <li><span>TalentMatch</span>
    <li><span>Alumni</span>
    <li><a href="#">All</a></li>
  </ul>

</nav>
<%= render "shared/search_modal" %>
